<a href="https://colab.research.google.com/github/VondracekS/ESF_Workshop_BestCodingPractices/blob/main/best_coding_practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Best Coding Practices Workshop
17.3.2023 @ ESF Muni

## 1 Git + Shell

1. Which directory are you in?
2. List all files within the current directory
3. Clone the git repository available under https://github.com/VondracekS/ESF_Workshop_BestCodingPractices
4. Search the directory and find the data
5. Unzip the data

Hints: 
- the needed commands are: *git clone, ls, cd, pwd, rm* (random order)
- shell commands must begin with the "!", however to use cd, you need %cd

In [1]:
# TODO: show the current directory
!pwd

/content

In [2]:
# TODO: list all folders/files within the directory
!ls

sample_data

In [3]:
# TODO: clone the git repository
!git clone https://github.com/VondracekS/ESF_Workshop_BestCodingPractices; ls

Cloning into 'ESF_Workshop_BestCodingPractices'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 16 (delta 5), reused 7 (delta 1), pack-reused 0
Unpacking objects: 100% (16/16), 2.34 MiB | 7.20 MiB/s, done.
ESF_Workshop_BestCodingPractices  sample_data

In [4]:
# Change the directory to the newly cloned one
%cd ESF_Workshop_BestCodingPractices/

/content/ESF_Workshop_BestCodingPractices

In [5]:
!ls

best_coding_practices.ipynb	     data
Copy_of_best_coding_practices.ipynb  README.md

In [6]:
%cd data

/content/ESF_Workshop_BestCodingPractices/data

In [7]:
ls

specdata.zip

In [11]:
# unzip the data
! unzip specdata.zipyA

Archive:  specdata.zip
replace specdata/001.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: specdata/001.csv
  inflating: specdata/002.csv
  inflating: specdata/003.csv
  inflating: specdata/004.csv
  inflating: specdata/005.csv
  inflating: specdata/006.csv
  inflating: specdata/007.csv
  inflating: specdata/008.csv
  inflating: specdata/009.csv
  inflating: specdata/010.csv
  inflating: specdata/011.csv
  inflating: specdata/012.csv
  inflating: specdata/013.csv
  inflating: specdata/014.csv
  inflating: specdata/015.csv
  inflating: specdata/016.csv
  inflating: specdata/017.csv
  inflating: specdata/018.csv
  inflating: specdata/019.csv
  inflating: specdata/020.csv
  inflating: specdata/021.csv
  inflating: specdata/022.csv
  inflating: specdata/023.csv
  inflating: specdata/024.csv
  inflating: specdata/025.csv
  inflating: specdata/026.csv
  inflating: specdata/027.csv
  inflating: specdata/028.csv
  inflating: specdata/029.csv
  inflating: specdata/030.csv
  inflating: specdata/031.csv
  inflating: specdata/032.csv
  inflating: specdata/033.csv
  inflating: specdata/034.csv
  inflating: specdata/035.csv
  inflating: specdata/036.csv
  inflating: specdata/037.csv
  inflating: specdata/038.csv
  inflating: specdata/039.csv
  inflating: specdata/040.csv
  inflating: specdata/041.csv
  inflating: specdata/042.csv
  inflating: specdata/043.csv
  inflating: specdata/044.csv
  inflating: specdata/045.csv
  inflating: specdata/046.csv
  inflating: specdata/047.csv
  inflating: specdata/048.csv
  inflating: specdata/049.csv
  inflating: specdata/050.csv
  inflating: specdata/051.csv
  inflating: specdata/052.csv
  inflating: specdata/053.csv
  inflating: specdata/054.csv
  inflating: specdata/055.csv
  inflating: specdata/056.csv
  inflating: specdata/057.csv
  inflating: specdata/058.csv
  inflating: specdata/059.csv
  inflating: specdata/060.csv
  inflating: specdata/061.csv
  inflating: specdata/062.csv
  inflating: specdata/063.csv
  inflating: specdata/064.csv
  inflating: specdata/065.csv
  inflating: specdata/066.csv
  inflating: specdata/067.csv
  inflating: specdata/068.csv
  inflating: specdata/069.csv
  inflating: specdata/070.csv
  inflating: specdata/071.csv
  inflating: specdata/072.csv
  inflating: specdata/073.csv
  inflating: specdata/074.csv
  inflating: specdata/075.csv
  inflating: specdata/076.csv
  inflating: specdata/077.csv
  inflating: specdata/078.csv
  inflating: specdata/079.csv
  inflating: specdata/080.csv
  inflating: specdata/081.csv
  inflating: specdata/082.csv
  inflating: specdata/083.csv
  inflating: specdata/084.csv
  inflating: specdata/085.csv
  inflating: specdata/086.csv
  inflating: specdata/087.csv
  inflating: specdata/088.csv
  inflating: specdata/089.csv
  inflating: specdata/090.csv
  inflating: specdata/091.csv
  inflating: specdata/092.csv
  inflating: specdata/093.csv
  inflating: specdata/094.csv
  inflating: specdata/095.csv
  inflating: specdata/096.csv
  inflating: specdata/097.csv
  inflating: specdata/098.csv
  inflating: specdata/099.csv
  inflating: specdata/100.csv
  inflating: specdata/101.csv
  inflating: specdata/102.csv
  inflating: specdata/103.csv
  inflating: specdata/104.csv
  inflating: specdata/105.csv
  inflating: specdata/106.csv
  inflating: specdata/107.csv
  inflating: specdata/108.csv
  inflating: specdata/109.csv
  inflating: specdata/110.csv
  inflating: specdata/111.csv
  inflating: specdata/112.csv
  inflating: specdata/113.csv
  inflating: specdata/114.csv
  inflating: specdata/115.csv
  inflating: specdata/116.csv
  inflating: specdata/117.csv
  inflating: specdata/118.csv
  inflating: specdata/119.csv
  inflating: specdata/120.csv
  inflating: specdata/121.csv
  inflating: specdata/122.csv
  inflating: specdata/123.csv
  inflating: specdata/124.csv
  inflating: specdata/125.csv
  inflating: specdata/126.csv
  inflating: specdata/127.csv
  inflating: specdata/128.csv
  inflating: specdata/129.csv
  inflating: specdata/130.csv
  inflating: specdata/131.csv
  inflating: specdata/132.csv
  inflating: specdata/133.csv
  inflating: specdata/134.csv
  inflating: specdata/135.csv
  inflating: specdata/136.csv
  inflating: specdata/137.csv
  inflating: specdata/138.csv
  inflating: specdata/139.csv
  inflating: specdata/140.csv
  inflating: specdata/141.csv
  inflating: specdata/142.csv
  inflating: specdata/143.csv
  inflating: specdata/144.csv
  inflating: specdata/145.csv
  inflating: specdata/146.csv
  inflating: specdata/147.csv
  inflating: specdata/148.csv
  inflating: specdata/149.csv
  inflating: specdata/150.csv
  inflating: specdata/151.csv
  inflating: specdata/152.csv
  inflating: specdata/153.csv
  inflating: specdata/154.csv
  inflating: specdata/155.csv
  inflating: specdata/156.csv
  inflating: specdata/157.csv
  inflating: specdata/158.csv
  inflating: specdata/159.csv
  inflating: specdata/160.csv
  inflating: specdata/161.csv
  inflating: specdata/162.csv
  inflating: specdata/163.csv
  inflating: specdata/164.csv
  inflating: specdata/165.csv
  inflating: specdata/166.csv
  inflating: specdata/167.csv
  inflating: specdata/168.csv
  inflating: specdata/169.csv
  inflating: specdata/170.csv
  inflating: specdata/171.csv
  inflating: specdata/172.csv
  inflating: specdata/173.csv
  inflating: specdata/174.csv
  inflating: specdata/175.csv
  inflating: specdata/176.csv
  inflating: specdata/177.csv
  inflating: specdata/178.csv
  inflating: specdata/179.csv
  inflating: specdata/180.csv
  inflating: specdata/181.csv
  inflating: specdata/182.csv
  inflating: specdata/183.csv
  inflating: specdata/184.csv
  inflating: specdata/185.csv
  inflating: specdata/186.csv
  inflating: specdata/187.csv
  inflating: specdata/188.csv
  inflating: specdata/189.csv
  inflating: specdata/190.csv
  inflating: specdata/191.csv
  inflating: specdata/192.csv
  inflating: specdata/193.csv
  inflating: specdata/194.csv
  inflating: specdata/195.csv
  inflating: specdata/196.csv
  inflating: specdata/197.csv
  inflating: specdata/198.csv
  inflating: specdata/199.csv
  inflating: specdata/200.csv
  inflating: specdata/201.csv
  inflating: specdata/202.csv
  inflating: specdata/203.csv
  inflating: specdata/204.csv
  inflating: specdata/205.csv
  inflating: specdata/206.csv
  inflating: specdata/207.csv
  inflating: specdata/208.csv
  inflating: specdata/209.csv
  inflating: specdata/210.csv
  inflating: specdata/211.csv
  inflating: specdata/212.csv
  inflating: specdata/213.csv
  inflating: specdata/214.csv
  inflating: specdata/215.csv
  inflating: specdata/216.csv
  inflating: specdata/217.csv
  inflating: specdata/218.csv
  inflating: specdata/219.csv
  inflating: specdata/220.csv
  inflating: specdata/221.csv
  inflating: specdata/222.csv
  inflating: specdata/223.csv
  inflating: specdata/224.csv
  inflating: specdata/225.csv
  inflating: specdata/226.csv
  inflating: specdata/227.csv
  inflating: specdata/228.csv
  inflating: specdata/229.csv
  inflating: specdata/230.csv
  inflating: specdata/231.csv
  inflating: specdata/232.csv
  inflating: specdata/233.csv
  inflating: specdata/234.csv
  inflating: specdata/235.csv
  inflating: specdata/236.csv
  inflating: specdata/237.csv
  inflating: specdata/238.csv
  inflating: specdata/239.csv
  inflating: specdata/240.csv
  inflating: specdata/241.csv
  inflating: specdata/242.csv
  inflating: specdata/243.csv
  inflating: specdata/244.csv
  inflating: specdata/245.csv
  inflating: specdata/246.csv
  inflating: specdata/247.csv
  inflating: specdata/248.csv
  inflating: specdata/249.csv
  inflating: specdata/250.csv
  inflating: specdata/251.csv
  inflating: specdata/252.csv
  inflating: specdata/253.csv
  inflating: specdata/254.csv
  inflating: specdata/255.csv
  inflating: specdata/256.csv
  inflating: specdata/257.csv
  inflating: specdata/258.csv
  inflating: specdata/259.csv
  inflating: specdata/260.csv
  inflating: specdata/261.csv
  inflating: specdata/262.csv
  inflating: specdata/263.csv
  inflating: specdata/264.csv
  inflating: specdata/265.csv
  inflating: specdata/266.csv
  inflating: specdata/267.csv
  inflating: specdata/268.csv
  inflating: specdata/269.csv
  inflating: specdata/270.csv
  inflating: specdata/271.csv
  inflating: specdata/272.csv
  inflating: specdata/273.csv
  inflating: specdata/274.csv
  inflating: specdata/275.csv
  inflating: specdata/276.csv
  inflating: specdata/277.csv
  inflating: specdata/278.csv
  inflating: specdata/279.csv
  inflating: specdata/280.csv
  inflating: specdata/281.csv
  inflating: specdata/282.csv
  inflating: specdata/283.csv
  inflating: specdata/284.csv
  inflating: specdata/285.csv
  inflating: specdata/286.csv
  inflating: specdata/287.csv
  inflating: specdata/288.csv
  inflating: specdata/289.csv
  inflating: specdata/290.csv
  inflating: specdata/291.csv
  inflating: specdata/292.csv
  inflating: specdata/293.csv
  inflating: specdata/294.csv
  inflating: specdata/295.csv
  inflating: specdata/296.csv
  inflating: specdata/297.csv
  inflating: specdata/298.csv
  inflating: specdata/299.csv
  inflating: specdata/300.csv
  inflating: specdata/301.csv
  inflating: specdata/302.csv
  inflating: specdata/303.csv
  inflating: specdata/304.csv
  inflating: specdata/305.csv
  inflating: specdata/306.csv
  inflating: specdata/307.csv
  inflating: specdata/308.csv
  inflating: specdata/309.csv
  inflating: specdata/310.csv
  inflating: specdata/311.csv
  inflating: specdata/312.csv
  inflating: specdata/313.csv
  inflating: specdata/314.csv
  inflating: specdata/315.csv
  inflating: specdata/316.csv
  inflating: specdata/317.csv
  inflating: specdata/318.csv
  inflating: specdata/319.csv
  inflating: specdata/320.csv
  inflating: specdata/321.csv
  inflating: specdata/322.csv
  inflating: specdata/323.csv
  inflating: specdata/324.csv
  inflating: specdata/325.csv
  inflating: specdata/326.csv
  inflating: specdata/327.csv
  inflating: specdata/328.csv
  inflating: specdata/329.csv
  inflating: specdata/330.csv
  inflating: specdata/331.csv
  inflating: specdata/332.csv

In [12]:
# force removal of the original zip file
!rm -rf specdata.zip

## 2 Python

In this part, you'll get an opportunity to try some of the concpets we've covered during presentation.

In [13]:
import os
os.getcwd()

'/content/ESF_Workshop_BestCodingPractices/data'

## 2.1 Loading the data
The first set of assignments covers te process of data cleaning, wrangling etc.

In this section, you will be complete te following tasks:
- iteratively searching throgh a directory and subsequently loading data using os package
- testing of the loaded data
- using a modular design, you will separate functionalities into operation-specific functions

####TODO: 
Create a single function that loads all the .csv files from the directory and stores them in a dictionary, please fulfill the following requirements: 
- the dictionary will contain only the csv files (all non_csv files will be ignored) loaded as a DataFrame
- add a docstring for the function
- extend the type-hinting according to your needs
- is the function name optimal? Eventually change it to a more appropriate one)

In [15]:
# TODO: Create a function that loads all the .csv files from the directory and 
# hints: os.listdir, string.split, make sure you read only csv files
import os
import pandas as pd

def read_csv(path: str) -> dict:
  """
  Some docstring would be nice, eh?
  """
  csv_dict = {}
  pass

In [16]:
def read_csv(path: str) -> dict:
  csv_dict = {}
  for file in os.listdir(path):
    prefix, suffix = file.split(".")
    if suffix == "csv":
      csv_dict[prefix] = pd.read_csv(os.path.join(path, file))
  return csv_dict

csv_all_dict = read_csv("./specdata/")
csv_all_dict.keys()

dict_keys(['102', '250', '306', '261', '206', '129', '238', '300', '024', '292', '028', '298', '055', '133', '048', '331', '275', '229', '078', '071', '265', '230', '211', '201', '031', '046', '246', '097', '178', '021', '210', '056', '015', '234', '173', '297', '213', '295', '115', '069', '172', '253', '248', '022', '283', '061', '179', '164', '274', '254', '296', '095', '109', '126', '003', '035', '148', '011', '183', '062', '100', '293', '085', '294', '187', '260', '194', '089', '328', '108', '150', '067', '135', '053', '197', '004', '166', '184', '236', '228', '221', '216', '327', '146', '215', '276', '314', '044', '245', '285', '104', '074', '259', '140', '041', '045', '192', '251', '167', '106', '037', '171', '023', '303', '207', '124', '144', '267', '233', '299', '077', '013', '018', '111', '247', '052', '288', '317', '305', '235', '263', '326', '082', '083', '202', '136', '110', '318', '239', '324', '208', '121', '081', '070', '291', '134', '195', '040', '311', '153', '090', '165', '190', '016', '118', '244', '264', '036', '160', '132', '307', '320', '281', '257', '282', '209', '075', '189', '156', '325', '091', '020', '162', '322', '120', '014', '196', '163', '122', '157', '076', '080', '034', '105', '039', '309', '026', '280', '051', '223', '243', '227', '301', '128', '138', '169', '170', '273', '175', '117', '225', '143', '289', '313', '203', '271', '168', '033', '094', '319', '222', '032', '010', '256', '145', '226', '302', '099', '114', '232', '029', '057', '316', '101', '308', '065', '174', '186', '147', '068', '219', '086', '154', '278', '042', '242', '262', '043', '005', '131', '092', '323', '240', '084', '063', '258', '058', '310', '161', '200', '001', '139', '269', '079', '054', '007', '027', '158', '123', '272', '321', '329', '268', '199', '217', '002', '025', '155', '087', '113', '047', '093', '141', '119', '060', '103', '185', '290', '017', '009', '193', '096', '191', '038', '205', '012', '112', '270', '220', '218', '177', '073', '072', '049', '006', '198', '315', '241', '204', '116', '181', '266', '330', '287', '151', '030', '088', '066', '130', '019', '125', '107', '304', '059', '180', '149', '182', '279', '098', '176', '159', '008', '224', '212', '255', '237', '312', '277', '188', '286', '050', '127', '152', '214', '142', '249', '284', '231', '137', '252', '332', '064'])

In [17]:
len(csv_all_dict.keys())

332

In [18]:
def test_read_csv(path):
  dict_full = read_csv(path)
  assert len(dict_full) == len([f for f in os.listdir(path) if ".csv" in f])
  print(f"Tests passed for the test_read_csv({path})")

test_read_csv("./specdata/")

Tests passed for the test_read_csv(./specdata/)

OK, now you have the function. However, some improvements could come handy.
What about separating the "string padding" into another function. And how about
adding the possibility to specify a list of .csv files to be loaded (instead of all?).

#### TODO:
- adjust the fuction to ignore the "0" padding for all numbers smaller than 100 (e.g. "050" will be replaced by "50" and so on) -> read_csv_v2()
- separate the padding removal to another function -> read_csv_v3()
- write a test for the padding removal
- extend the function to be able to specify only particular .csv files to be read (and if not specified, just load all) -> read_csv_v4()

From now on, you don't need to write docstrings or add type-hinting anymore as it would require some time

In [ ]:
# TODO: padding removal function
def remove_padding(tgt_string: str) -> str:
  pass

In [ ]:
# TODO: write the test (e.g. for cases where should and should not be the 0 padding removed)
def test_remove_padding(test_cases=[]):
  assert remove_padding(test_cases) == None
test_remove_padding()

In [ ]:
# TODO: adjust the former function so that you use the padding removal
def read_csv_v2(path: str) -> dict:
  pass

### Help Functions

In [23]:

def remove_padding(tgt_string: str) -> str:
  str_out = str(int(tgt_string))
  return str_out

In [24]:
# TODO: write a function which would remove the 
def test_remove_padding(test_cases = ['0125', '1250']):
  assert remove_padding(test_cases[0] == '125')
  print(f"remove_pading({test_cases[0]}) -> {remove_padding(test_cases[0])} Test OK")
  assert remove_padding(test_cases[1] == '1250')
  print(f"remove_pading({test_cases[1]}) -> {remove_padding(test_cases[1])} Test OK")

test_remove_padding()

remove_pading(0125) -> 125 Test OK
remove_pading(1250) -> 1250 Test OK

In [25]:
import os
import pandas as pd

def read_csv_v2(path: str) -> dict:
  csv_dict = {}
  for file in os.listdir(path):
    prefix, suffix = file.split(".")
    if suffix == "csv":
      csv_dict[str(int(prefix))] = pd.read_csv(os.path.join(path, file))
  return csv_dict

In [20]:
# TODO:
# Is the name of the function really self-explanatory? Eventually correct that
# hints: os.listdir, string.split, 
import os
import pandas as pd

def read_csv_v3(path: str) -> dict:
  csv_dict = {}
  for file in os.listdir(path):
    prefix, suffix = file.split(".")
    if suffix == "csv":
      csv_dict[remove_padding(prefix)] = pd.read_csv(os.path.join(path, file))
  return csv_dict

In [21]:
# TODO:
# Refactor the function above to be able to specify which files should be read
# If no file subset is given, load all csvs

def read_csv_v4(path: str, file_subset=None) -> dict:
  """
  Add some docstring
  """
  csv_dict = {}
  for file in os.listdir(path):
    prefix, suffix = file.split(".")
    if suffix == "csv":
       if file_subset is None or file in file_subset:
        csv_dict[remove_padding(prefix)] = pd.read_csv(os.path.join(path, file))
  return csv_dict

In [27]:
csvs_all = read_csv_v4("./specdata/")
csvs_all

{'102':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  102
 1     2001-01-02      NaN      NaN  102
 2     2001-01-03      NaN      NaN  102
 3     2001-01-04      NaN      NaN  102
 4     2001-01-05      NaN      NaN  102
 ...          ...      ...      ...  ...
 1456  2004-12-27      NaN      NaN  102
 1457  2004-12-28      NaN      NaN  102
 1458  2004-12-29     2.23     2.55  102
 1459  2004-12-30      NaN      NaN  102
 1460  2004-12-31      NaN      NaN  102

 [1461 rows x 4 columns], '250':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  250
 1     2002-01-02      NaN      NaN  250
 2     2002-01-03      NaN      NaN  250
 3     2002-01-04      NaN      NaN  250
 4     2002-01-05      NaN      NaN  250
 ...          ...      ...      ...  ...
 1456  2005-12-27      NaN      NaN  250
 1457  2005-12-28      NaN      NaN  250
 1458  2005-12-29      NaN      NaN  250
 1459  2005-12-30      NaN      NaN  250
 1460  2005-12-31      NaN      NaN  250

 [1461 rows x 4 columns], '306':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  306
 1     2001-01-02      NaN      NaN  306
 2     2001-01-03      NaN      NaN  306
 3     2001-01-04      NaN      NaN  306
 4     2001-01-05      NaN      NaN  306
 ...          ...      ...      ...  ...
 1090  2003-12-27      NaN      NaN  306
 1091  2003-12-28      NaN      NaN  306
 1092  2003-12-29      NaN      NaN  306
 1093  2003-12-30      NaN      NaN  306
 1094  2003-12-31      NaN      NaN  306

 [1095 rows x 4 columns], '261':            Date  sulfate  nitrate   ID
 0    2009-01-01      NaN      NaN  261
 1    2009-01-02      NaN      NaN  261
 2    2009-01-03      NaN      NaN  261
 3    2009-01-04      NaN      NaN  261
 4    2009-01-05      NaN      NaN  261
 ..          ...      ...      ...  ...
 725  2010-12-27      NaN      NaN  261
 726  2010-12-28      NaN      NaN  261
 727  2010-12-29      NaN      NaN  261
 728  2010-12-30      NaN      NaN  261
 729  2010-12-31      NaN      NaN  261

 [730 rows x 4 columns], '206':            Date  sulfate  nitrate   ID
 0    2002-01-01      NaN      NaN  206
 1    2002-01-02      NaN      NaN  206
 2    2002-01-03      NaN      NaN  206
 3    2002-01-04      NaN      NaN  206
 4    2002-01-05      NaN      NaN  206
 ..          ...      ...      ...  ...
 725  2003-12-27      NaN      NaN  206
 726  2003-12-28      NaN      NaN  206
 727  2003-12-29      NaN      NaN  206
 728  2003-12-30      NaN      NaN  206
 729  2003-12-31      NaN      NaN  206

 [730 rows x 4 columns], '129':            Date  sulfate  nitrate   ID
 0    2001-01-01      NaN      NaN  129
 1    2001-01-02      NaN      NaN  129
 2    2001-01-03      NaN      NaN  129
 3    2001-01-04      NaN      NaN  129
 4    2001-01-05      NaN      NaN  129
 ..          ...      ...      ...  ...
 725  2002-12-27      NaN      NaN  129
 726  2002-12-28      NaN      NaN  129
 727  2002-12-29      NaN      NaN  129
 728  2002-12-30      NaN      NaN  129
 729  2002-12-31      NaN      NaN  129

 [730 rows x 4 columns], '238':            Date  sulfate  nitrate   ID
 0    2009-01-01      NaN      NaN  238
 1    2009-01-02      NaN      NaN  238
 2    2009-01-03      NaN      NaN  238
 3    2009-01-04      NaN      NaN  238
 4    2009-01-05      NaN      NaN  238
 ..          ...      ...      ...  ...
 725  2010-12-27      NaN      NaN  238
 726  2010-12-28      NaN      NaN  238
 727  2010-12-29      NaN      NaN  238
 728  2010-12-30      NaN      NaN  238
 729  2010-12-31      NaN      NaN  238

 [730 rows x 4 columns], '300':             Date  sulfate  nitrate   ID
 0     2000-01-01      NaN      NaN  300
 1     2000-01-02      NaN      NaN  300
 2     2000-01-03      NaN      NaN  300
 3     2000-01-04      NaN      NaN  300
 4     2000-01-05      NaN      NaN  300
 ...          ...      ...      ...  ...
 4013  2010-12-27      NaN      NaN  300
 4014  2010-12-28      NaN      NaN  300
 4015  2010-12-29      NaN      NaN  300
 4016  2010-12-30      NaN      NaN  300
 4017  2010-12-31      NaN      NaN  300

 [4018 rows x 4 columns], '24':             Date  sulfate  nitrate  ID
 0     2000-01-01      NaN      NaN  24
 1     2000-01-02      NaN      NaN  24
 2     2000-01-03      NaN      NaN  24
 3     2000-01-04      NaN      NaN  24
 4     2000-01-05      NaN      NaN  24
 ...          ...      ...      ...  ..
 4013  2010-12-27      NaN      NaN  24
 4014  2010-12-28      NaN      NaN  24
 4015  2010-12-29      NaN      NaN  24
 4016  2010-12-30      NaN      NaN  24
 4017  2010-12-31      NaN      NaN  24

 [4018 rows x 4 columns], '292':             Date  sulfate  nitrate   ID
 0     2003-01-01      NaN      NaN  292
 1     2003-01-02      NaN      NaN  292
 2     2003-01-03      NaN      NaN  292
 3     2003-01-04      NaN      NaN  292
 4     2003-01-05      NaN      NaN  292
 ...          ...      ...      ...  ...
 1091  2005-12-27      NaN      NaN  292
 1092  2005-12-28      NaN      NaN  292
 1093  2005-12-29      NaN      NaN  292
 1094  2005-12-30      NaN      NaN  292
 1095  2005-12-31      NaN      NaN  292

 [1096 rows x 4 columns], '28':             Date  sulfate  nitrate  ID
 0     2002-01-01      NaN      NaN  28
 1     2002-01-02      NaN      NaN  28
 2     2002-01-03      NaN      NaN  28
 3     2002-01-04      NaN      NaN  28
 4     2002-01-05      NaN      NaN  28
 ...          ...      ...      ...  ..
 3282  2010-12-27      NaN      NaN  28
 3283  2010-12-28      NaN      NaN  28
 3284  2010-12-29      NaN      NaN  28
 3285  2010-12-30      NaN      NaN  28
 3286  2010-12-31      NaN      NaN  28

 [3287 rows x 4 columns], '298':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  298
 1     2001-01-02      NaN      NaN  298
 2     2001-01-03      NaN      NaN  298
 3     2001-01-04      NaN      NaN  298
 4     2001-01-05      NaN      NaN  298
 ...          ...      ...      ...  ...
 1090  2003-12-27      NaN      NaN  298
 1091  2003-12-28      NaN      NaN  298
 1092  2003-12-29      NaN      NaN  298
 1093  2003-12-30      NaN      NaN  298
 1094  2003-12-31      NaN      NaN  298

 [1095 rows x 4 columns], '55':             Date  sulfate  nitrate  ID
 0     2000-01-01      NaN      NaN  55
 1     2000-01-02      NaN      NaN  55
 2     2000-01-03      NaN      NaN  55
 3     2000-01-04      NaN      NaN  55
 4     2000-01-05      NaN      NaN  55
 ...          ...      ...      ...  ..
 1456  2003-12-27      NaN      NaN  55
 1457  2003-12-28      NaN      NaN  55
 1458  2003-12-29     2.49    0.497  55
 1459  2003-12-30      NaN      NaN  55
 1460  2003-12-31      NaN      NaN  55

 [1461 rows x 4 columns], '133':             Date  sulfate  nitrate   ID
 0     2000-01-01      NaN      NaN  133
 1     2000-01-02      NaN      NaN  133
 2     2000-01-03      NaN      NaN  133
 3     2000-01-04      NaN      NaN  133
 4     2000-01-05      NaN      NaN  133
 ...          ...      ...      ...  ...
 4013  2010-12-27      NaN      NaN  133
 4014  2010-12-28      NaN      NaN  133
 4015  2010-12-29      NaN      NaN  133
 4016  2010-12-30      NaN      NaN  133
 4017  2010-12-31      NaN      NaN  133

 [4018 rows x 4 columns], '48':            Date  sulfate  nitrate  ID
 0    2003-01-01      NaN      NaN  48
 1    2003-01-02      NaN      NaN  48
 2    2003-01-03      NaN      NaN  48
 3    2003-01-04      NaN      NaN  48
 4    2003-01-05      NaN      NaN  48
 ..          ...      ...      ...  ..
 726  2004-12-27      NaN      NaN  48
 727  2004-12-28      NaN      NaN  48
 728  2004-12-29      NaN      NaN  48
 729  2004-12-30      NaN      NaN  48
 730  2004-12-31      NaN      NaN  48

 [731 rows x 4 columns], '331':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  331
 1     2001-01-02      NaN      NaN  331
 2     2001-01-03      NaN      NaN  331
 3     2001-01-04      NaN      NaN  331
 4     2001-01-05      NaN      NaN  331
 ...          ...      ...      ...  ...
 2186  2006-12-27      NaN      NaN  331
 2187  2006-12-28      NaN      NaN  331
 2188  2006-12-29      NaN      NaN  331
 2189  2006-12-30      NaN      NaN  331
 2190  2006-12-31      NaN      NaN  331

 [2191 rows x 4 columns], '275':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  275
 1     2002-01-02      NaN      NaN  275
 2     2002-01-03      NaN      NaN  275
 3     2002-01-04      NaN      NaN  275
 4     2002-01-05      NaN      NaN  275
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  275
 3283  2010-12-28      NaN      NaN  275
 3284  2010-12-29      NaN      NaN  275
 3285  2010-12-30      NaN      NaN  275
 3286  2010-12-31      NaN      NaN  275

 [3287 rows x 4 columns], '229':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  229
 1     2002-01-02      NaN      NaN  229
 2     2002-01-03      NaN      NaN  229
 3     2002-01-04      NaN      NaN  229
 4     2002-01-05      NaN      NaN  229
 ...          ...      ...      ...  ...
 1821  2006-12-27      NaN      NaN  229
 1822  2006-12-28     2.25    0.869  229
 1823  2006-12-29      NaN      NaN  229
 1824  2006-12-30      NaN      NaN  229
 1825  2006-12-31     2.86    3.100  229

 [1826 rows x 4 columns], '78':             Date  sulfate  nitrate  ID
 0     2003-01-01      NaN      NaN  78
 1     2003-01-02      NaN      NaN  78
 2     2003-01-03      NaN      NaN  78
 3     2003-01-04      NaN      NaN  78
 4     2003-01-05      NaN      NaN  78
 ...          ...      ...      ...  ..
 1821  2007-12-27      NaN      NaN  78
 1822  2007-12-28      NaN      NaN  78
 1823  2007-12-29      NaN      NaN  78
 1824  2007-12-30      NaN      NaN  78
 1825  2007-12-31      NaN      NaN  78

 [1826 rows x 4 columns], '71':             Date  sulfate  nitrate  ID
 0     2006-01-01      NaN      NaN  71
 1     2006-01-02      NaN      NaN  71
 2     2006-01-03      NaN      NaN  71
 3     2006-01-04      NaN      NaN  71
 4     2006-01-05      NaN      NaN  71
 ...          ...      ...      ...  ..
 1821  2010-12-27      NaN      NaN  71
 1822  2010-12-28      NaN      NaN  71
 1823  2010-12-29      NaN      NaN  71
 1824  2010-12-30      NaN      NaN  71
 1825  2010-12-31      NaN      NaN  71

 [1826 rows x 4 columns], '265':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  265
 1     2002-01-02      NaN      NaN  265
 2     2002-01-03      NaN      NaN  265
 3     2002-01-04      NaN      NaN  265
 4     2002-01-05      NaN      NaN  265
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  265
 3283  2010-12-28      NaN      NaN  265
 3284  2010-12-29      NaN      NaN  265
 3285  2010-12-30      NaN      NaN  265
 3286  2010-12-31      NaN      NaN  265

 [3287 rows x 4 columns], '230':             Date  sulfate  nitrate   ID
 0     2004-01-01      NaN      NaN  230
 1     2004-01-02      NaN      NaN  230
 2     2004-01-03      NaN      NaN  230
 3     2004-01-04      NaN      NaN  230
 4     2004-01-05      NaN      NaN  230
 ...          ...      ...      ...  ...
 1456  2007-12-27      NaN      NaN  230
 1457  2007-12-28      NaN      NaN  230
 1458  2007-12-29      NaN      NaN  230
 1459  2007-12-30      NaN      NaN  230
 1460  2007-12-31      NaN      NaN  230

 [1461 rows x 4 columns], '211':             Date  sulfate  nitrate   ID
 0     2008-01-01      NaN      NaN  211
 1     2008-01-02      NaN      NaN  211
 2     2008-01-03      NaN      NaN  211
 3     2008-01-04      NaN      NaN  211
 4     2008-01-05      NaN      NaN  211
 ...          ...      ...      ...  ...
 1091  2010-12-27      NaN      NaN  211
 1092  2010-12-28      NaN      NaN  211
 1093  2010-12-29      NaN      NaN  211
 1094  2010-12-30      NaN      NaN  211
 1095  2010-12-31      NaN      NaN  211

 [1096 rows x 4 columns], '201':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  201
 1     2002-01-02      NaN      NaN  201
 2     2002-01-03      NaN      NaN  201
 3     2002-01-04      NaN      NaN  201
 4     2002-01-05      NaN      NaN  201
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  201
 3283  2010-12-28      NaN      NaN  201
 3284  2010-12-29      NaN      NaN  201
 3285  2010-12-30      NaN      NaN  201
 3286  2010-12-31      NaN      NaN  201

 [3287 rows x 4 columns], '31':             Date  sulfate  nitrate  ID
 0     2002-01-01      NaN      NaN  31
 1     2002-01-02      NaN      NaN  31
 2     2002-01-03      NaN      NaN  31
 3     2002-01-04      NaN      NaN  31
 4     2002-01-05      NaN      NaN  31
 ...          ...      ...      ...  ..
 3282  2010-12-27      NaN      NaN  31
 3283  2010-12-28      NaN      NaN  31
 3284  2010-12-29      NaN      NaN  31
 3285  2010-12-30      NaN      NaN  31
 3286  2010-12-31      NaN      NaN  31

 [3287 rows x 4 columns], '46':            Date  sulfate  nitrate  ID
 0    2002-01-01      NaN      NaN  46
 1    2002-01-02      NaN      NaN  46
 2    2002-01-03      NaN      NaN  46
 3    2002-01-04      NaN      NaN  46
 4    2002-01-05      NaN      NaN  46
 ..          ...      ...      ...  ..
 725  2003-12-27      NaN      NaN  46
 726  2003-12-28      NaN      NaN  46
 727  2003-12-29      NaN      NaN  46
 728  2003-12-30      NaN      NaN  46
 729  2003-12-31      NaN      NaN  46

 [730 rows x 4 columns], '246':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  246
 1     2002-01-02      NaN      NaN  246
 2     2002-01-03      NaN      NaN  246
 3     2002-01-04      NaN      NaN  246
 4     2002-01-05      NaN      NaN  246
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  246
 3283  2010-12-28      NaN      NaN  246
 3284  2010-12-29      NaN      NaN  246
 3285  2010-12-30      NaN      NaN  246
 3286  2010-12-31      NaN      NaN  246

 [3287 rows x 4 columns], '97':             Date  sulfate  nitrate  ID
 0     2003-01-01      NaN      NaN  97
 1     2003-01-02      NaN      NaN  97
 2     2003-01-03      NaN      NaN  97
 3     2003-01-04      NaN      NaN  97
 4     2003-01-05      NaN      NaN  97
 ...          ...      ...      ...  ..
 2917  2010-12-27      NaN      NaN  97
 2918  2010-12-28      NaN      NaN  97
 2919  2010-12-29      NaN      NaN  97
 2920  2010-12-30      NaN      NaN  97
 2921  2010-12-31      NaN      NaN  97

 [2922 rows x 4 columns], '178':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  178
 1     2002-01-02      NaN      NaN  178
 2     2002-01-03      NaN      NaN  178
 3     2002-01-04      NaN      NaN  178
 4     2002-01-05      NaN      NaN  178
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  178
 3283  2010-12-28      NaN      NaN  178
 3284  2010-12-29      NaN      NaN  178
 3285  2010-12-30      NaN      NaN  178
 3286  2010-12-31      NaN      NaN  178

 [3287 rows x 4 columns], '21':             Date  sulfate  nitrate  ID
 0     2002-01-01      NaN      NaN  21
 1     2002-01-02      NaN      NaN  21
 2     2002-01-03      NaN      NaN  21
 3     2002-01-04      NaN      NaN  21
 4     2002-01-05      NaN      NaN  21
 ...          ...      ...      ...  ..
 3282  2010-12-27      NaN      NaN  21
 3283  2010-12-28      NaN      NaN  21
 3284  2010-12-29      NaN      NaN  21
 3285  2010-12-30      NaN      NaN  21
 3286  2010-12-31      NaN      NaN  21

 [3287 rows x 4 columns], '210':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  210
 1     2002-01-02      NaN      NaN  210
 2     2002-01-03      NaN      NaN  210
 3     2002-01-04      NaN      NaN  210
 4     2002-01-05      NaN      NaN  210
 ...          ...      ...      ...  ...
 2552  2008-12-27      NaN      NaN  210
 2553  2008-12-28      NaN      NaN  210
 2554  2008-12-29      NaN      NaN  210
 2555  2008-12-30      NaN      NaN  210
 2556  2008-12-31      NaN      NaN  210

 [2557 rows x 4 columns], '56':             Date  sulfate  nitrate  ID
 0     2004-01-01     2.77    1.600  56
 1     2004-01-02      NaN      NaN  56
 2     2004-01-03      NaN      NaN  56
 3     2004-01-04     1.82    0.527  56
 4     2004-01-05      NaN      NaN  56
 ...          ...      ...      ...  ..
 2552  2010-12-27      NaN      NaN  56
 2553  2010-12-28      NaN      NaN  56
 2554  2010-12-29      NaN      NaN  56
 2555  2010-12-30      NaN      NaN  56
 2556  2010-12-31      NaN      NaN  56

 [2557 rows x 4 columns], '15':            Date  sulfate  nitrate  ID
 0    2005-01-01      NaN      NaN  15
 1    2005-01-02      NaN      NaN  15
 2    2005-01-03      NaN      NaN  15
 3    2005-01-04      NaN      NaN  15
 4    2005-01-05      NaN      NaN  15
 ..          ...      ...      ...  ..
 725  2006-12-27      NaN      NaN  15
 726  2006-12-28      NaN      NaN  15
 727  2006-12-29      NaN      NaN  15
 728  2006-12-30      NaN      NaN  15
 729  2006-12-31     1.15     6.41  15

 [730 rows x 4 columns], '234':             Date  sulfate  nitrate   ID
 0     2003-01-01      NaN      NaN  234
 1     2003-01-02      NaN      NaN  234
 2     2003-01-03      NaN      NaN  234
 3     2003-01-04      NaN      NaN  234
 4     2003-01-05      NaN      NaN  234
 ...          ...      ...      ...  ...
 2917  2010-12-27      NaN      NaN  234
 2918  2010-12-28      NaN      NaN  234
 2919  2010-12-29      NaN      NaN  234
 2920  2010-12-30      NaN      NaN  234
 2921  2010-12-31      NaN      NaN  234

 [2922 rows x 4 columns], '173':             Date  sulfate  nitrate   ID
 0     2004-01-01      NaN      NaN  173
 1     2004-01-02      NaN      NaN  173
 2     2004-01-03      NaN      NaN  173
 3     2004-01-04      NaN      NaN  173
 4     2004-01-05      NaN      NaN  173
 ...          ...      ...      ...  ...
 2552  2010-12-27      NaN      NaN  173
 2553  2010-12-28      NaN      NaN  173
 2554  2010-12-29      NaN      NaN  173
 2555  2010-12-30      NaN      NaN  173
 2556  2010-12-31      NaN      NaN  173

 [2557 rows x 4 columns], '297':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  297
 1     2001-01-02      NaN      NaN  297
 2     2001-01-03      NaN      NaN  297
 3     2001-01-04      NaN      NaN  297
 4     2001-01-05      NaN      NaN  297
 ...          ...      ...      ...  ...
 1821  2005-12-27      NaN      NaN  297
 1822  2005-12-28      NaN      NaN  297
 1823  2005-12-29      NaN      NaN  297
 1824  2005-12-30      NaN      NaN  297
 1825  2005-12-31      NaN      NaN  297

 [1826 rows x 4 columns], '213':             Date  sulfate  nitrate   ID
 0     2002-01-01      NaN      NaN  213
 1     2002-01-02      NaN      NaN  213
 2     2002-01-03      NaN      NaN  213
 3     2002-01-04      NaN      NaN  213
 4     2002-01-05      NaN      NaN  213
 ...          ...      ...      ...  ...
 3282  2010-12-27      NaN      NaN  213
 3283  2010-12-28      NaN      NaN  213
 3284  2010-12-29      NaN      NaN  213
 3285  2010-12-30      NaN      NaN  213
 3286  2010-12-31      NaN      NaN  213

 [3287 rows x 4 columns], '295':            Date  sulfate  nitrate   ID
 0    2000-01-01      NaN      NaN  295
 1    2000-01-02      NaN      NaN  295
 2    2000-01-03      NaN      NaN  295
 3    2000-01-04      NaN      NaN  295
 4    2000-01-05      NaN      NaN  295
 ..          ...      ...      ...  ...
 726  2001-12-27      NaN      NaN  295
 727  2001-12-28      NaN      NaN  295
 728  2001-12-29      NaN      NaN  295
 729  2001-12-30      NaN      NaN  295
 730  2001-12-31      NaN      NaN  295

 [731 rows x 4 columns], '115':             Date  sulfate  nitrate   ID
 0     2001-01-01      NaN      NaN  115
 1     2001-01-02      NaN      NaN  115
 2     2001-01-03      NaN      NaN  115
 3     2001-01-04      NaN      NaN  115
 4     2001-01-05      NaN      NaN  115
 ...          ...      ...      ...  ...

In [40]:
from source import help

In [43]:
help = Help()

## 2.2 Data Wrangling

One of the key competences of any data scientist is to be able to work efficiently with his data. In this section, you'll get an opportunity to 
practice that

TODO:
1. Create a DataFrame which would show minimal and maximal date for **any single one key  of the dictionary** and add a column denoting the difference between the 2
(it will contain columns *{ID, min_d, max_d, days_diff}*)

2. Create a new data frame consisting from all the data frame denoted above

In [ ]:
# TODO:
def get_minmax_date(df):
  
  df['Date'] = None
  min_d, max_d = None, None
  
  df_out = None
  return None

In [34]:
# TODO
def concat_date_ranges(dfs_all, subset=None):

  date_ranges = []
  
  for k,v in dfs_all.items():
    pass
  
  return None

# Solution

In [35]:
def get_minmax_date(df):
  
  df['Date'] = pd.to_datetime(df['Date'])
  min_d, max_d = (min(df['Date']), max(df['Date']))
  
  df_out = pd.DataFrame({'id': [df["ID"].values[0]],
                         'min_d': [min_d],
                         'max_d': [max_d],
                         'days_diff': [(max_d - min_d).days]})
  return df_out

In [ ]:
get_minmax_date(csvs_all['1'])

   id      min_d      max_d  days_diff
0   1 2003-01-01 2006-12-31       1460

In [28]:
def concat_date_ranges(dfs_all, subset=None):

  date_ranges = []
  
  for k,v in dfs_all.items():
    if subset == None or k in subset:
      date_ranges.append(get_minmax_date(v))
  
  return pd.concat(date_ranges).sort_values('id')

In [33]:
drange = concat_date_ranges(csvs_all, {'1', '5', '10'})
drange

   id      min_d      max_d  days_diff
0   1 2003-01-01 2006-12-31       1460
0   5 2003-01-01 2010-12-31       2921
0  10 2002-01-01 2004-12-31       1095

In [ ]:
drange.min_d.dt.dayofweek

0    2
0    0
0    0
0    0
0    2
    ..
0    5
0    0
0    1
0    0
0    2
Name: min_d, Length: 332, dtype: int64